<div class="container mt-5">
<div class="col-md-12 col-lg-62 col-12 form-group text-center">
  <div class="card mt-3">
    <div class="card-body text-center">
      <img class="img-fluid" alt="" src="./assets/images/mt_success_green.png">
      <div class="form-group col-md-12 text-center mt-3">
        <h1 class="trans-amt">₹ 300</h1>
        <h4 class="mt-3 trans-success">Transferred Successfully</h4>
        <h6 class="trans-id">Transaction ID - 2563345</h6>
      </div>
      <div class="col-md-6 mx-auto text-center trans-btn mt-5">
        <button class="btn btn-primary">Download Receipt</button>
      </div>
    </div>
  </div>
</div>
</div>
